# preprocessing for SEM (Simultaneous CFA, airline customer satisfaction)

- importing packages
- union train and test to a sinlge df
- drop unneeded columns
- listwise deletion of missing values (missing values are coded here as zero not as NaN's)
- Bartlett sphericity test  //is corr matrix different from identity matrix? a sign of corr needed for FA
- Kaiser-Meyer-Olkin test   //proportion of shared variance among manifest indicators (>.6 needed for FA)
- export as csv, ready for import in r studio

In [5]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [48]:
# Install a conda package in the current Jupyter kernel
#import sys
#!conda install --yes --prefix {sys.prefix} factor_analyzer

In [2]:
# Install a pip package in the current Jupyter kernel
import sys
!{sys.executable} -m pip install factor_analyzer

Collecting factor_analyzer
  Downloading https://files.pythonhosted.org/packages/ef/24/179ff12ccbf063dccdc39de4b2abf9adb8b7b47eec7c187e6d9a52038759/factor_analyzer-0.4.0.tar.gz (41kB)
    100% |████████████████████████████████| 51kB 5.1MB/s ta 0:00:01
Requirement already satisfied: pandas in ./anaconda3/lib/python3.7/site-packages (from factor_analyzer) (0.24.2)
Requirement already satisfied: scipy in ./anaconda3/lib/python3.7/site-packages (from factor_analyzer) (1.2.1)
Requirement already satisfied: numpy in ./anaconda3/lib/python3.7/site-packages (from factor_analyzer) (1.16.2)
Requirement already satisfied: scikit-learn in ./anaconda3/lib/python3.7/site-packages (from factor_analyzer) (0.20.3)
Requirement already satisfied: python-dateutil>=2.5.0 in ./anaconda3/lib/python3.7/site-packages (from pandas->factor_analyzer) (2.8.0)
Requirement already satisfied: pytz>=2011k in ./anaconda3/lib/python3.7/site-packages (from pandas->factor_analyzer) (2018.9)
Requirement already satisfied: six>=1.5 in ./anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.5.0->pandas->factor_analyzer) (1.12.0)
Building wheels for collected packages: factor-analyzer
  Building wheel for factor-analyzer (setup.py) ... done
  Stored in directory: /Users/steven/Library/Caches/pip/wheels/0d/8b/6b/a8a50060c242ebcdd28c10c022c057c9f3917656763bdd9f66
Successfully built factor-analyzer
Installing collected packages: factor-analyzer
Successfully installed factor-analyzer-0.4.0

In [11]:
from factor_analyzer import FactorAnalyzer

In [3]:
import os

In [17]:
df_train = pd.read_csv('/Users/steven/Documents/SEM/train.csv')
df_test = pd.read_csv('/Users/steven/Documents/SEM/test.csv')

In [18]:
df_full = pd.concat([df_train, df_test], sort=False) # combine the train and test for better generalizability

In [19]:
df_full.drop(['Unnamed: 0', 'id' ], axis=1, inplace=True)

In [23]:
df_full.drop(['Arrival Delay in Minutes','Departure Delay in Minutes'], axis=1, inplace=True)

In [24]:
df_full['satisfaction'].describe()

count                      129880
unique                          2
top       neutral or dissatisfied
freq                        73452
Name: satisfaction, dtype: object

In [25]:
df_full.satisfaction.replace(['satisfied', 'neutral or dissatisfied'], [1,0], inplace=True)

In [49]:
#df_full.head(3)

In [27]:
df_full.to_csv("/Users/steven/Documents/SEM/df_full.csv", index=False)

In [96]:
test = pd.read_csv('/Users/steven/Documents/SEM/df_full.csv', index_col=False)

In [76]:
test.head(3)

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,satisfaction
0,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,1,...,3,5,5,4,3,4,4,5,5,0
1,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,3,...,3,1,1,1,5,3,1,4,1,0
2,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,2,...,5,5,5,4,3,4,4,4,5,1

In [97]:
test.shape

(129880, 21)

In [61]:
print(test.keys()) #use to copy subset to drop rows with zero (as zero is missing value not not coded as such

Index(['Gender', 'Customer Type', 'Age', 'Type of Travel', 'Class',
       'Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness', 'satisfaction'],
      dtype='object')

In [ ]:
# datacleaning for all columns, not just the 11 of interest
# do not use this one.

#columns = ['Inflight wifi service', 'Departure/Arrival time convenient', 'Ease of Online booking', 
#           'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
#           'Inflight entertainment', 'On-board service', 'Leg room service',
#           'Baggage handling', 'Checkin service', 'Inflight service',
#           'Cleanliness', 'satisfaction'  ]
#test_nozero2 = test.replace(0, pd.np.nan).dropna(axis=0, how='any', subset=columns)

In [101]:
columns = ['Inflight wifi service', 'Departure/Arrival time convenient', 'Ease of Online booking', 
           'Gate location', 'Food and drink', 'Seat comfort',
           'Inflight entertainment', 'On-board service',
           'Baggage handling', 'Inflight service',
           'Cleanliness'  ]
test_nozero3 = test.replace(0, pd.np.nan).dropna(axis=0, how='any', subset=columns)

In [102]:
test_nozero3.head(3)

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,satisfaction
0,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3.0,4.0,3.0,1.0,...,3.0,5.0,5.0,4.0,3.0,4,4.0,5.0,5.0,NaN
1,Male,disloyal Customer,25,Business travel,Business,235,3.0,2.0,3.0,3.0,...,3.0,1.0,1.0,1.0,5.0,3,1.0,4.0,1.0,NaN
2,Female,Loyal Customer,26,Business travel,Business,1142,2.0,2.0,2.0,2.0,...,5.0,5.0,5.0,4.0,3.0,4,4.0,4.0,5.0,1.0

In [104]:
test_nozero3.to_csv("/Users/steven/Documents/SEM/full_clean_df.csv", index=False)

In [6]:
test2 = pd.read_csv('/Users/steven/Documents/SEM/full_clean_df.csv', index_col=False)

In [7]:
test2.head(3)

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,satisfaction
0,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3.0,4.0,3.0,1.0,...,3.0,5.0,5.0,4.0,3.0,4,4.0,5.0,5.0,NaN
1,Male,disloyal Customer,25,Business travel,Business,235,3.0,2.0,3.0,3.0,...,3.0,1.0,1.0,1.0,5.0,3,1.0,4.0,1.0,NaN
2,Female,Loyal Customer,26,Business travel,Business,1142,2.0,2.0,2.0,2.0,...,5.0,5.0,5.0,4.0,3.0,4,4.0,4.0,5.0,1.0

In [8]:
test2.shape

(119581, 21)

In [41]:
test3 = test2.iloc[: , [7,8,9,10,12,13,14,16,18,19]].copy()

In [42]:
test3.head(3)

,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Seat comfort,Inflight entertainment,On-board service,Baggage handling,Inflight service,Cleanliness
0,4.0,3.0,1.0,5.0,5.0,5.0,4.0,4,5.0,5.0
1,2.0,3.0,3.0,1.0,1.0,1.0,1.0,3,4.0,1.0
2,2.0,2.0,2.0,5.0,5.0,5.0,4.0,4,4.0,5.0

In [44]:
from factor_analyzer.factor_analyzer import calculate_bartlett_sphericity
chi_square_value,p_value=calculate_bartlett_sphericity(test3)
print(chi_square_value, p_value)

511147.02507708914 0.0

In [47]:
#KMO, Value should be 0.6<
from factor_analyzer.factor_analyzer import calculate_kmo
kmo_all,kmo_model=calculate_kmo(test3)
print(kmo_model)

0.7714997795151488